.head1 {
    font-family: 'Courier New', monospace;
}

p {
    font-family: 'Amatic SC', cursive;
    padding: 10px;
}

.bgimg {
    background-image: url('../images/bgimg.png');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}