.head1 {
    font-family: 'Courier New', monospace;
}

p {
    font-family: 'Amatic SC', cursive;
    padding: 10px;
}

.bgimg {
    background-image: url('../images/bgimg.png');
    /* background-size: 100% 100%; */
    position: relative;
    /* opacity: 0.95; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}